/DiagnosticLabs/DiagnosticLabs/bin
/DiagnosticLabs/DiagnosticLabs/obj
/DiagnosticLabs/.vs
/DiagnosticLabs/DiagnosticLabsBLL/obj
/DiagnosticLabs/DiagnosticLabsBLL/bin
/DiagnosticLabs/DiagnosticLabsDAL/obj
/DiagnosticLabs/DiagnosticLabsDAL/bin
/DiagnosticLabs/DiagnosticLabsDatabase/obj
/DiagnosticLabs/DiagnosticLabsDatabase/bin
/DiagnosticLabs/packages
